.paginacion__img:first-child {
  transform: rotate(180deg);
}

.paginacion__img {
  width: 50px;
}

.paginacion {
  display: flex;
  justify-content: center;
}

.paginacion__container {
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem 0;
  gap: 3rem;
  font-size: 1.5rem;
}

.paginacion__a {
  color: #000;
}

@media screen and (max-width: 530px) {
  .paginacion__container {
    gap: 2rem;
  }
}

@media screen and (max-width: 370px) {
  .paginacion__container {
    gap: 1rem;
  }
}