.nosotros__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.nosotros__headings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/icons/imagen\ de\ fondo\ de\ huellas/bg-3.png);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.nosotros-info__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 400px;
  gap: 60px;
}
.nosotros__title {
  color: #DE341D;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}
.nosotros__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #343A40;
  width: 40%;
  text-align: center;
  margin-top: 30px;
}

.nosotros__items {
  display: flex;
  gap: 40px;
}
.nosotros__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}  
.nosotros__item--large {
  margin: 0 60px;
}
.nosotros__item--card {
  background-color: #F4F4F4;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.nosotros__item-title {
  color: #DE341D;
  font-size: 20px;
  text-align: center;
}

.nosotros__devs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0 10px;
}

.nosotros__dev {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.nosotros__item-text {
  text-align: center;
  margin: 10px 0;
}

.nosotros__why-container {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.nosotros__why {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  width: 100%;
  margin: 0 400px;
}
.nosotros__why-img {
  width: 50%;
}
.nosotros__why-text {
  padding: 0 20px;
}

/* Utils */
.text-left {
  align-items: flex-start;
}

@media (max-width: 1700px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 400px;
  }
}
@media (max-width: 1600px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 300px;
  }
}
@media (max-width: 1500px){
  .nosotros__items {
    flex-direction: column;
  }
  .nosotros__item--card {
    width: 500px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1400px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 260px;
  }
  .nosotros__why {
    flex-direction: column-reverse;
  }
  .nosotros__why-img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: 50% 20%;
  }
  .nosotros__why-text {
    padding: 10px 40px 20px;
  }
  
}
@media (max-width: 1200px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 200px;
  }
}
@media (max-width: 1100px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 160px;
  }
  .nosotros__subtitle {
    width: 70%;
  }
}
@media (max-width: 1000px){
  .nosotros-info__container,
  .nosotros__why {
    margin: 0 100px;
  }
}
@media (max-width: 900px){
  .nosotros-info__container,
  .nosotros__item-title {
    font-size: 19px;
  }

  .nosotros__item--card {
    width: 400px;
  }
  .nosotros__item--card p {
    font-size: 18px;
  }

  .nosotros__why {
    margin: 0 60px;
  }
}
@media (max-width: 700px){
  .nosotros__subtitle {
    width: 80%;
  }
  .nosotros-info__container {
    margin: 0 100px;
  }
  .nosotros__items {
    flex-wrap: wrap;
  }
  .nosotros__item--large {
    margin: 0;
  }
  .nosotros__item-text {
    font-size: 18px;
  }
  .nosotros__why {
    margin: 0;
  }
}
@media (max-width: 600px){
  .nosotros-info__container {
    margin: 0 40px;
  }
  .nosotros__title {
    font-size: 26px;
  }

  .nosotros__item--card {
    width: 300px;
  }
  .nosotros__item--card p {
    font-size: 16px;
  }

  .nosotros__why {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .nosotros__why-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .text-left {
    align-items: center;
  }
}
@media (max-width: 500px){
  .nosotros__item-text {
    font-size: 16px;
  }
}
@media (max-width: 450px){
  .nosotros__devs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 400px){
  .nosotros__item--card {
    width: 250px;
  }
  .nosotros__item--card p {
    font-size: 16px;
  }
}