.slide {
  -webkit-transform: scale(0.6);
            transform: scale(0.6);
  opacity: 0;
}

.slide.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease-out;
}

.button__bar {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  bottom: 30px;
}

.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #6c757d;
  opacity: 0.8;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.button__bar li.slick-active button {
  background-color: #DE341D;
}

.button__bar li button:hover,
.button__bar li button:focus {
  /* background: rgba(247, 34, 34, 0.8); */
  outline: 0;
}