.header {
  width: 100%;
  height: calc(100vh - 5rem); /* El 100% de la pantalla menos la altura del nav */
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.header__slider {
  position: relative;
  overflow: hidden;
}

.header__slider--img {
  width: 100%;
  height: calc(100vh - 5rem);
  object-fit: cover;
  opacity: 0.8;
  margin-left: 200px;
}

/* slider__img--two y three son las imagenes del slider que llevan estilos diferentes a la primer imagen */
.slider__img--two {
  margin-left: 400px;
}

.header__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 52% 0, 44% 100%, 0% 100%);
  clip-path: polygon(0 0, 52% 0, 44% 100%, 0% 100%);
  /* background-color: #0a0a0a; */
  background-color: #000;
  width: 100%;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 0;
  padding: 0 120px 0 0;
}

.header__logo {
  width: 600px;
}

.header__title {
  font-size: 40px;
  color: #FFF;
	text-shadow: -.8px -.8px 0 #000, 
               .8px -.8px 0 #000, 
               -.8px .8px 0 #000, 
               .8px .8px 0 #000;
  text-align: center;
}

.header__buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 20px;
}

.header__slider--overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 52% 0, 44% 100%, 0% 100%);
  clip-path: polygon(0 0, 52% 0, 44% 100%, 0% 100%);
  /* background-color: #0a0a0a; */
  background-color: #000;
  width: 100%;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 0;
}
.header__info {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-weight: 700;
  margin-left: 90px;
  gap: 20px;
}
.header__info-heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__info--img {
  height: 100px;
}
.header__info--title {
  font-size: 48px;
  color: #DE341D;
}

.header__info--text {
  color: #FFF;
  font-size: 30px;
  text-align: center;
}

.blog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 1500px){
  .header__slider--overlay {
    -webkit-clip-path: polygon(0 0, 56% 0, 48% 100%, 0% 100%);
    clip-path: polygon(0 0, 56% 0, 48% 100%, 0% 100%);
  }
  .slider__img--three {
    margin-left: 60px;
  }
  .header__info {
    width: 40%;
  }
  .header__info--img {
    height: 90px;
  }
  .header__info--title {
    font-size: 40px;
  }
}
@media (max-width: 1250px){
  .header__section {
    padding-right: 200px;
  }
  .header__logo {
    width: 500px;
  }
  .header__title {
    font-size: 36px;
  }
}
@media (max-width: 1200px){
  .header__slider--overlay {
    -webkit-clip-path: polygon(0 0, 60% 0, 52% 100%, 0% 100%);
    clip-path: polygon(0 0, 60% 0, 52% 100%, 0% 100%);
  }
  .slider__img--three {
    margin-left: 80px;
  }
  .header__info {
    width: 44%;
    margin-left: 60px;
  }
  .header__info-heading {
    gap: 20px;
  }
  .header__info--img {
    height: 80px;
  }
  .header__info--title {
    font-size: 36px;
  }
  .header__info--text {
    font-size: 26px;
  }
}
@media (max-width: 1000px){
  .header__section {
    max-width: 600px;
    min-width: 300px;
    align-items: center;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__slider--img {
    margin: 0;
  }

  .slider__img--two {
    margin: 0px;
    object-position: 20% 50%;
  }
  .slider__img--three {
    margin: 0px;
  }

  .header__info {
    width: 100%;
    margin: 0;
  }
  .header__info--img {
    height: 70px;
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }

  .header__slider--overlay {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: transparent;
  }
  .header__section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: transparent;
  }
  .header__info--title {
    color: #FFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .header__info--text {
    width: 60%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 500;
  }
}
@media (max-width: 768px){
  .header__logo {
    width: 400px;
  }
  .header__title {
    font-size: 34px;
    text-align: center;
  }
  .header__buttons {
    gap: 40px;
  }
}
@media (max-width: 600px){
  .header__section {
    padding: 0 10px;
  }
  .header__logo {
    width: 300px;
  }
  .header__title {
    font-size: 28px;
    /* width: 60%; */
  }
  .header__buttons {
    gap: 30px;
  }

  .slider__img--two {
    object-position: 40% 50%;
  }
  .header__info--img {
    height: 60px;
  }
  .header__info--title {
    font-size: 32px;
  }
  .header__info--text {
    font-size: 22px;
    width: 66%;
  }
}
@media (max-width: 500px){
  .header__info-heading {
    gap: 12px;
  }
  .header__info--img {
    height: 50px;
  }
  .header__info--title {
    font-size: 28px;
  }
  .header__info--text {
    font-size: 21px;
  }
}
@media (max-width: 400px){
  .header__logo {
    width: 260px;
  }
  .header__title {
    font-size: 24px;
  }
  .header__buttons {
    gap: 10px;
  }
}

.adopciones {
  background-color: #000;
  /* margin: 2rem 0; */
  padding: 2rem 0;
  position: relative;
  margin-bottom: 50px;
}
.adopciones::before {
  content: "";
  position: absolute;
  background-image: url(/icons/imagenes\ recursos/adopciones-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

.adopciones button, p {
  position: relative;
}

/* .adopciones>div {
  margin: 0 43%;
  margin-bottom: 2rem;
} */

.publicacion-destacada {
  text-align: center;
  margin: 2rem 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publicacion-destaca__sub-titulo {
  padding: 0 20px;
}

.publicacion-destacada__buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 2.2rem 0 0;
}

.publicacion-destacada__buttons>button {
  padding: 1rem;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 5rem 0;
}

.sobre-nosotros__container {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}

.sobre-nosotros__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: clamp(20vw, 42rem, 90vw);
  color: #343A40;
}

.sobre-nosotros__section>div>p {
  font-size: 18px;
}
.sobre-nosotros__container h4{
  color: rgba(222, 52, 29, 1);
}