.sectionThree {
	display: flex;
	flex-direction: column;
}

.sectionThree__h3 {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #343a40;
}

.sectionThree__form {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.sectionThree__form>input:first-child {
	border: none;
	align-items: center;
	padding: 12px 15px;
	width: 80%;
	font-size: 18px;
	background-color: transparent;
	border: 1px solid #000;
	border-right: none;
	border-radius: 10px 0 0 10px;
}

.sectionThree__form>input:last-child {
	width: 46px;
	height: 46px;
	background-color: #DE341D;
	border: none;
	outline: none;
	border: 1px solid #000;
	border-radius: 0 10px 10px 0;
	font-size: 20px;
	transition: .5s background-color;
}

.sectionThree__form>input:last-child:hover {
	cursor: pointer;
	background-color: #b21500;
}

.sectionThree__redes {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.sectionThree__redes>a>img {
	width: 30px;
	border-radius: 10px;
}

/* Diseño responsive */

@media (max-width: 320px) {

	.sectionThree__h3 {
		margin-top: 10px;
		line-height: 22px;
	}

	.sectionThree__form {
		margin: 20px 0;
	}

	.sectionThree__form>input:first-child {
		padding: 10px 15px;
		font-size: 15px;
	}

	.sectionThree__form>input:last-child {
		height: 38px;
		font-size: 18px;
	}

}

@media (max-width: 375px) {

	.sectionThree__h3 {
		margin-top: 10px;
		line-height: 22px;
	}

	.sectionThree__form {
		margin: 20px 0;
	}

	.sectionThree__form>input:last-child {
		height: 40px;
		font-size: 18px;
	}

}

@media (max-width: 900px) {

	.sectionThree {
		width: 100%;
	}

	.sectionThree__form>input:first-child {
		width: 100%;
	}

		.sectionThree__redes>a>img{
			width: 40px;
		}

}

@media (max-width: 768px) {

	.sectionThree {
		display: flex;
		flex-direction: column;
	}

	.sectionThree__h3 {
		margin-top: 10px;
		line-height: 22px;
	}

	.sectionThree__form {
		margin: 20px 0;
	}

	.sectionThree__form>input:first-child {
		font-size: 15px;
	}

}
