.sectionTwo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionTwo__h3 {
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	width: 150px;
	padding: 8px 0;
	margin-bottom: 18px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.05em;
	color: #343a40;
}

.sectionTwo__ul {
	list-style-type: "> ";
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sectionTwo__li_enlace,
.sectionTwo__li_contact {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	color: #343a40;
	margin-left: 14px;
	padding: 0 0 0 6px;
}

.sectionTwo__li_enlace>a {
	color: #000;
	text-decoration: none;
	border: none;
	outline: none;
}

.sectionTwo__li_enlace>a:hover {
	text-decoration: underline;
}

.sectionTwo__li_contact {
	list-style: none;
	margin-left: 4px;
}

.sectionTwo__li_emails,
.sectionTwo__li_tlf {
	display: flex;
	align-items: center;
}

.sectionTwo__li_icon {
	width: 20px;
}

/* Diseño responsive */

@media (max-width: 1024px) {

	.sectionTwo__li_icon {
		width: 18px;
	}

	.sectionTwo__h3 {
		border-radius: 10px;
		width: 150px;
		padding: 8px 0;
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.05em;
		margin-bottom: 18px;
		margin-left: 6px;
	}

	.sectionTwo__ul {
		list-style-type: "> ";
	}

	.sectionTwo__li_enlace,
	.sectionTwo__li_contact {
		font-weight: 700;
		font-size: 16px;
		line-height: 25px;
	}

	/* .sectionTwo__li_contact {
		margin-left: 10px;
	}

	.sectionTwo__li_enlace {
		margin-left: 4px;
	} */
}

@media (max-width: 550px) {
	.sectionTwo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	 .sectionTwo__h3 {
		margin: 0 0 16px;
	}

	/*.sectionTwo__li_contact,
	.sectionTwo__li_enlace {
		font-size: 16px;
		line-height: 22px;
		margin-left: 14px;
		margin-bottom: 8px;
	}

	.sectionTwo__li_contact {
		margin-left: 3px;
	}

	.sectionTwo__li_icon {
		width: 16px;
	} */
}

@media (max-width: 375px) {
	.sectionTwo__h3 {
		width: 100px;
		font-size: 15px;
	}

	.sectionTwo__li_contact {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 8px;
	}

	.sectionTwo__li_enlace {
		font-size: 14px;
		line-height: 22px;
		/* margin-left: 2px;
		margin-bottom: 8px; */
	}


	.sectionTwo__li_contact {
		/* margin-left: 8px; */
	}

	.sectionTwo__li_icon {
		width: 16px;
	}

	.sectionTwo__ul {
		/* margin-left: 30px; */
	}
}

