.sectionOne__footer {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.h3__sectionOne {
	font-family: letra-titulo;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0.05em;
	color: #343a40;
	margin-bottom: 20px;
}

.p__sectionOne {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: #343a40;
	margin: 0;
}

/* Diseño responsive */

@media (max-width: 320px) {

	.sectionOne__footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.h3__sectionOne {
		font-weight: 400;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}

	.p__sectionOne {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1em;
	}

}

@media (max-width: 375px) {

	.sectionOne__footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.h3__sectionOne {
		font-weight: 400;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}

	.p__sectionOne {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1em;
	}

}

@media (max-width: 768px) {

	.sectionOne__footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	.h3__sectionOne {
		font-weight: 600;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}

	.p__sectionOne {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.1em;
	}

}

@media (max-width: 1024px) {

	.sectionOne__footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;
	}
}

.logo {
	width: 200px;
	margin-bottom: 25px;
}

@media (max-width: 900px) {
	.sectionOne__footer {
		margin-bottom: 0;
	}
}