.postsRelacionados__container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


@media (max-width: 1400px){
  .postsRelacionados__container {
    gap: 20px;
  }
}
@media (max-width: 1400px){
  .postsRelacionados__container {
    flex-direction: column;
  }
}