.blogsPortada__container {
	position: relative;
	height: 400px;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 40px;
}

.blogsPortada__data {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	color: #fff;
	background-color: #00000080;
	padding: calc(20px);
	width: 100%;
}

.blogsPortada__data > * {
	margin: 0;
	padding: 0;
}

.blogsPortada__data > span {
  display: inline-block;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
  margin-bottom: 7px;
}

.blogsPortada__data > h2 {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
}
