@font-face {
	font-family: letra-titulo;
	src: url(/fonts/Helv-Children.woff);
}


.letra-titulo {
	font-family: 'Roboto',sans-serif/*letra-titulo*/ /*'Roboto',sans-serif*/;
	font-size: 2.25rem;
	margin: 15px;
	/* padding-bottom: .8rem; */
	min-width: 11rem;
	user-select: none;
}


.letra-titulo--red{
	color: #DE341D;
	-webkit-text-stroke: .1px #fff;
	-moz-text-stroke: .1px #fff;
	z-index: 1;
}
.letra-titulo--red--mobile {
	color: #DE341D;
	-webkit-text-stroke: .1px #fff;
	-moz-text-stroke: .1px #fff;
	z-index: 1;
	min-width: 0;
}

.letra-titulo--white{
	color: white;
	text-shadow: -.8px -.8px 0 #000, 
               .8px -.8px 0 #000, 
               -.8px .8px 0 #000, 
               .8px .8px 0 #000;
	font-size: 3.75rem;
}

@media screen and (max-width:500px) {
	.letra-titulo--red{
    font-size: clamp(30px,5vw,50px);
  }
}
