.postsRelacionadosCard__container {
  width: 250px;
  background-color: #D9D9D9;
}

.postsRelacionadosCard__container>img {
  width: 250px;
  object-fit: cover;
}

.postsRelacionadosCard__container>div>* {
  margin: 0;
  padding: 0;
}

.postsRelacionadosCard__container>div>h5 {
  margin-bottom: 5px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #21273A;
}

.postsRelacionadosCard__container>div>p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #21273A;
}

.postsRelacionadosCard__container>div {
  padding: 20px;
}