.adoptarTarjeta {
  width: 45%;
  min-width: 550px;
  display: flex;
  border: 1px solid rgb(241, 230, 230);
  border-radius: 125px 10px 10px 125px;
  background-color: white;
  transform: translate3d(0px,0,0) !important;
  opacity: 1 !important;
}

.adoptarTarjeta--hovered {
  border-radius: 10px;
}
.adoptarTarjeta__img-container:hover .adoptarTarjeta__img>img {
  border-radius: 10px;
}

.adoptarTarjeta__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  gap: 6px;
}

.adoptarTarjeta__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 21px red;
  border-radius: 50% 0 0 50%;
  background-color: transparent/*#f2e2e2*/;
  margin: 2%;
}

.adoptarTarjeta__img>img {
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  max-width: 220px;
  min-height: 200px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.adoptarTarjeta__imgs {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 21px red;
  border-radius: 50% 0 0 50%;
  background-color: transparent/*#f2e2e2*/;
  margin-left: 2%;
}
.adoptarTarjeta__img-container:hover .adoptarTarjeta__imgs {
  display: flex;
}
.adoptarTarjeta__imgs>img {
  width: 4vw;
  height: 5vw;
  /* min-width: 200px;
  max-width: 220px;
  min-height: 200px;
  max-height: 220px; */
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.adoptarTarjeta__imgs>img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.adoptarTarjeta__description {
  padding-left: 20px;
  padding-right: 10px;
  padding: 1.5%;
  margin: 2%;
}

.adoptarTarjeta___img__info_container{
  width: 45%;
	position: relative;
	display: flex;
	top: 0%;
}

.adoptarTarjeta__img_info{
	width: 25px;
	margin-inline: auto;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
  cursor: pointer;
}

@media screen and (max-width:1141px) {
  .adoptarTarjeta {
    width: 100%;
    min-width: 600px;
    display: flex;
    border: 1px solid rgb(241, 230, 230);
    /* border-radius: 125px 10px 10px 125px; */
    background-color: white;
  }
  .adoptarTarjeta__imgs>img {
    width: 6vw;
    height: 8vw;
  }
}
@media (max-width: 900px){
  .adoptarTarjeta__imgs>img {
    width: 8vw;
    height: 10vw;
  }
}
@media (max-width: 700px){
  .adoptarTarjeta__imgs>img {
    width: 10vw;
    height: 12vw;
  }
}
@media screen and (max-width:660px) {
  .adoptarTarjeta {
    width: 80%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 7%;
    background-color: white;
    padding: 16px 0 0;
  }
  .adoptarTarjeta__img>img {
    width: 45vw;
    height: 45vw;
    min-width: 130px;
    max-width: 200px;
    min-height: 130px;
    max-height: 200px;
  }
  .adoptarTarjeta__imgs>img {
    width: 11vw;
    height: 13vw;
  }
  .adoptarTarjeta__description {
    padding: 2%;
    margin: 5%;
    display: grid;
    place-items: center;
  }
  .adoptarTarjeta__description p:nth-child(2){
    text-align: center;
  } 
  .adoptarTarjeta___img__info_container{
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0%;
  }
  .adoptarTarjeta__img_info{
    width: 25px;
    margin-inline: auto;
    margin: 0;	/*en caso de que el navegador no soporte la opción*/
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}
@media (max-width: 500px){
  .adoptarTarjeta__imgs>img {
    width: 14vw;
    height: 16vw;
  }
}
@media (max-width: 400px){
  .adoptarTarjeta__imgs>img {
    width: 15vw;
    height: 17vw;
  }
}
