.btn {
	background-color: #DE341D;
	display: flex;
	align-items: center;
	gap: .3rem;
	/* El padding con esas medidas bugea el flexbox y lo pisa */
	/* padding: .8rem 10%;*/
	/* Este padding funciona bien con el flexbox y el responsive */
	padding: 13px 19px;
	border-radius: .4rem;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
}

.btn:hover{
	box-shadow: 2px 2px 7px;
	text-shadow: black 1px 3px 5px;
}

.btn__text {
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	margin: 0;
	background-color: transparent;
	border: none;
}

.btn__img {
	height: 1.25rem;
}

@media (max-width: 1400px){
	.btn {
		padding: 12px 18px;
	}
	.btn__text {
		font-size: 15px;
	}
	.btn__img {
		height: 18px;
	}
}
@media (max-width: 768px){
	/* Esto solo tendria que colorear el boton "Reportar" del menu hamburguesa (Pendiente) */
	.btn {
		border: 1px solid #FFF;
	}
}
