.adopciones {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  padding: 80px 0px; */
  display: flex;
  justify-content: center;
}

.adoptarTarjeta {
  width: 45%;
  min-width: 550px;
  display: flex;
  border: 1px solid rgb(241, 230, 230);
  border-radius: 125px 10px 10px 125px;
  background-color: white;
}

.adoptarTarjeta__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 21px red;
  border-radius: 50% 0 0 50%;
  background-color: transparent/*#f2e2e2*/;
  margin: 2%;
}

.adoptarTarjeta__img>img {
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  max-width: 220px;
  min-height: 200px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 50%;
}

.adoptarTarjeta__description {
  padding-left: 20px;
  padding-right: 10px;
  padding: 1.5%;
  margin: 2%;
}

.adoptarTarjeta___img__info_container{
  width: 45%;
	position: relative;
	display: flex;
	top: 0%;

}

.adoptarTarjeta__img_info{
	width: 25px;
	margin-inline: auto;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
  cursor: pointer;
}

@media screen and (max-width:1141px) {
  .adoptarTarjeta {
    width: 90%;
    min-width: 500px;
    display: flex;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 125px 10px 10px 125px;
    background-color: white;
  }
}

@media screen and (max-width:550px) {
  .adoptarTarjeta {
    width: 80%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(241, 230, 230);
    border-radius: 7%;
    background-color: white;
  }
  .adoptarTarjeta__img>img {
    width: 45vw;
    height: 45vw;
    min-width: 150px;
    max-width: 220px;
    min-height: 150px;
    max-height: 220px;
  }
  .adoptarTarjeta__description {
    padding: 2%;
    margin: 5%;
    display: grid;
    place-items: center;
  }
  .adoptarTarjeta__description p:nth-child(2){
    text-align: center;
  } 
  .adoptarTarjeta___img__info_container{
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0%;
  }
  .adoptarTarjeta__img_info{
    width: 25px;
    margin-inline: auto;
    margin: 0;	/*en caso de que el navegador no soporte la opción*/
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
}


.carousel {
  position: relative;
  width: 1300px;
  padding: 100px 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  /* background-color: #fff; */
  /* border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  opacity: 0.8;
}

.prev {
  left: 0;

}

.next {
  right: 0;
}

.arrow-icon {
  width: 30px;
  height: 30px;
}

.carousel-items {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.carousel-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px 140px;
}
.pet {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.pet img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #333;
}

@media (max-width: 1400px){
  .carousel {
    width: 860px;
  }
  .carousel-item {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 100px;
  }
}
@media (max-width: 1000px){
  .carousel {
    padding: 60px 0px;
    max-width: 500px;
  }
  .carousel-item {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (max-width: 500px){
  .carousel {
    width: 340px;
  }
}
@media (max-width: 400px){
  .carousel {
    width: 300px;
  }
}