.contenedor-principal {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.contacto {
  background-image: url('../../iconos/imagen\ de\ fondo\ de\ huellas/bg-3.png');
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-principal form {
  width: 85vw;
  min-width: 250px;
  max-width: 1200px;
  max-height: 1200px;
  min-height: 250px;
  height: 85vh;

  display: flex;
  flex-direction: row;
}

.contacto__information {
  background-color: #ff0004b2;

  height: 100%;

  flex: 2;
}

.contacto__information header,
.contacto__information article {
  margin: clamp(20px, 10%, 65px);
}

.contacto__information h2 {
  color: white;
  font-size: clamp(20px, 3vw, 30px);
  text-align: center;
}

.contacto__information h5,
.contacto__information p {
  color: #D9D9D9;
  font-size: clamp(16px, 1.9vw, 19px);
  text-align: center;
}

.contacto__information p {
  color: white;
  text-align: left;
}

.contacto__container {
  height: 100%;
  flex: 2.5;

  background-color: #f7f0f0;
}

.contacto__inputs {
  display: flex;
  flex-direction: column;

  margin: 10%;
}

.contacto__inputs>div {
  position: relative;

  margin-bottom: 10%;
  width: 100%;
}

.contacto__inputs>div:has(.contacto__input:focus) label,
.contacto__inputs>div:has(.contacto__input:valid) label {
  transform: translateY(-100%);
}

.contacto__inputs>div:has(.contacto__textarea:focus) label,
.contacto__inputs>div:has(.contacto__textarea:valid) label {
  transform: translateY(-90%);
}

.contacto__inputs>div label {
  position: absolute;
  color: #575756;

  transition: all 0.3s;
}

.contacto__input,
.contacto__textarea {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #575756;
  color: #ff0004b2;

  width: 100%;
  max-width: 500px;
  min-width: 90px;

  resize: none;

  transition: all 0.2s;
}

.contacto__input {
  width: 60%;
}

.contacto__parrafo {
  margin: 0 auto 0 5%;
}

.contact__send {
  display: flex;
  align-items: center;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f7f0f0 inset !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width:800px) {

  .contenedor-principal form {
    margin-top: 165px;
    margin-bottom: 100px;

    flex-direction: column;
  }

  .contacto__container {
   width: 100%;
  }

  .contacto__inputs {
    margin-bottom: 0;
  }

  .contact__send {
    margin-bottom: 20px;
  }

}