.tarjetaDestacadaContainer {
  width: 70%;
  display: grid;
  place-items: center;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

@media (max-width: 1450px) {
  .tarjetaDestacadaContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Cambia a 2 columnas para pantallas más pequeñas */
  }
}

@media (max-width: 1000px) {
  .tarjetaDestacadaContainer {
    grid-template-columns: minmax(0, 1fr); /* Cambia a 1 columna para pantallas aún más pequeñas */
  }
}
