.blog {
  display: block;
  text-align: center;
  width: 220px;
  height: 200px;
  box-shadow: 5px 5px 10px #1C1C1C;
  padding: 2%;
  margin: 0 10%;
  transition: all 100ms ease;
}

.blog:hover { 
  transform: scale(1.1);
}

.blog > a {
  font-weight: bold;
  color: #de523f;
}

.blog > a:hover {
  cursor: pointer;
}
