.perdidosTarjeta__img:first-child {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
}

.perdidosTarjeta {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	max-width: 300px;
	margin-inline: auto;
	background-color: white;
	padding: 30px;
	margin-inline: auto;
	border: 1px solid rgb(241, 230, 230);
	border-radius: 2.5vmax;
}

.perdidosTarjeta__subdata_container {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.perdidosTarjeta___img__info_container{
	width: 45%;
	position: relative;
	display: flex;
	top: 2%;
	margin-inline: auto;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.perdidosTarjeta__img_info{
	width: 25px;
	margin-inline: auto;
	margin: 0;	/*en caso de que el navegador no soporte la opción*/
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.perdidosTarjeta__h3 {
	color: #fff;
	background-color: #DE341D;
	padding: 7px 20px;
	border-radius: 5px;
}

.perdidosTarjeta__subdata {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.02em;
	color: #343a40;
}

.perdidosTarjeta__subdata_container div{
	margin-bottom: 2%;
}
