.perdidos {
	background-image: url('/icons/imagen\ de\ fondo\ de\ huellas/bg-3.png');
	background-size: cover;
}

.texto-container{
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vh 0;
	gap: 1rem
}

.texto-container__titulo{
	text-align: center;
	max-width: 50%;
}

.texto-container__subtitulo{
	max-width: 80%;
}

.perdidos__tarjeta_container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	gap: 50px 0;
	padding-bottom: 2rem;
}
