.blog__container {
  background-image: url(/icons/imagen\ de\ fondo\ de\ huellas/bg-3.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.blog__header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  background-color: #53000A;
  position: relative;
}

.blog__header::before {
  background-image: url("/icons/blog-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

.blog__header h1 {
  position: relative;
  font-size: 36px;
}
.blog__header p {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
}

.blog__title {
  min-width: 0;
}

.blog__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  gap: 40px;
}

@media (max-width: 1700px){
  .blog__card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1300px){
  .blog__card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px){
  .blog__card {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 960px){
  .blog__container {
    padding: 30px 0;
  }
}
@media (max-width: 450px){
  .blog__card {
    padding: 0;
  }
}
