.cardContainer {
	display: flex;
	width: 350px;
  max-height: 420px;
	flex-direction: column;
	background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	border-radius: 10px;
	color: #000;
	text-decoration: none;
	transition: transform .5s;
	margin-top: 40px;
}

.cardContainer:hover {
	transform: scale(1.05);
}

.cardContainer > img {
	/* min-width: 350px; */
  min-height: 250px;
	max-height: 250px;
  object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.cardContainer__content {
  max-height: 240px;
  display: flex;
  flex-direction: column;
	padding: 30px 20px 0;
	margin: -70px 0 0;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255, 1) 84%, rgba(255, 255, 255, 0.8) 94%, rgba(255,255,255, 0.6) 100%);
	position: relative;
	border-radius: 0 0 10px 10px;
}

.cardContainer__consejo {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	color: rgba(52, 58, 64, 0.8);
}

.cardContainer__titulo {
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 600;
  font-size: 18px;
}

.cardContainer__titulo:hover {
	text-decoration: underline;
}

.cardContainer__descripcion {
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 400;
  font-size: 14px;
	height: 100px;
}

.cardContainer__fecha {
	display: flex;
	justify-content: center;
	font-family: 'Inter', 'Arial';
	font-style: normal;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

@media (max-width: 960px){
	.cardContainer {
		width: 300px;
		/* height: 420px; */
	}
}
