.paginacion__img {
  width: 22px;
  cursor: pointer;
  opacity: 0.8;
}

.paginacion {
  display: flex;
  justify-content: center;
}

.paginacion__container {
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem 0;
  gap: 3rem;
  font-size: 1.5rem;
}

.paginacion__button {
  color: #000;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 2px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.paginacion__button--active {
  color: #DE341D;
  background-color: #e9ecef;
}

@media screen and (max-width: 530px) {
  .paginacion__container {
    gap: 2rem;
  }
}
@media (max-width: 500px){
  .paginacion__img {
    width: 20px;
  }
  .paginacion__container {
    gap: 1.4rem;
  }
  .paginacion__button {
    font-size: 18px;
  }
}