.footer__container {
	position: relative;
	background-color: #d9dbde;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 40px 30px 150px 30px;
	box-shadow: 0px -10px 10px 0px #00000040;
	gap: 0 30px;
}

.footer>section {
	margin: 0 20px;
	padding: 0;
}

section>* {
	margin: 0;
	padding: 0;
}

.footer__huellas {
	position: absolute;
	left: 0;
	bottom: 25px;
	width: 100%;
}

.sectionTwo__container {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}


/* Diseño responsive */

@media (max-width: 320px) {

	.footer__container {
		position: relative;
		display: flex;
		flex-direction: column;
	}

}

@media (max-width: 375px) {

	.footer__container {
		position: relative;
		display: flex;
		flex-direction: column;
	}

}

@media (max-width: 768px) {

	.footer__container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	.sectionTwo__container {
		width: auto;
		display: flex;
		justify-content: space-between;
	}

}

@media (max-width: 1024px) {

	.footer__container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-around;
	}

	.sectionTwo__container {
		display: flex;
		justify-content: space-between;
	}

}

@media (max-width: 900px) {
	.sectionTwo__container {
		width: 100%;
		justify-content: space-around;
		margin: 50px 0;
	}
}

@media (max-width: 550px){
	.sectionTwo__container {
		flex-direction: column;
	}
}

