html,
body {
	margin: 0;
	padding: 0;
}

.App {
	height: 100vh;
	/*Header fixed position heigth*/
	padding-top: 80px;
}

a {
	text-decoration: none;
}

.frente {
	position: relative;
	z-index: 100;
}
