.card__container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 220px;
  min-height: 220px;
  padding: 16px;
  margin-bottom: 170px;
}

.card {
  width: 220px;
  height: 220px;
  padding: 16px;
  background-color: rgba(238, 238, 238, 0.73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  z-index: 1;
  transition: all .6s;
  overflow: hidden;
  color: #FFF;
  position: absolute;
}

.card:hover {
  padding-bottom: 190px;
  transition: all .6s;
  background-color: #e3e3e3;
  color: #111111;
}

.card img {
  transition: all .6s;
}

.card:hover img {
  width: 100%;
  border-radius: 10px;
  transition: all .6s;
}

.card:hover p {
  font-size: 26px;
  margin: 0;
  padding: 0;
  transition: all .6s;
  background-color: transparent;
}

.card:hover h3{
  font-size: 20px;
  margin: 0;
}

.cardNoExtended {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardNoExtended>p {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 15%;
  text-align: center;
  background-color: #de523f;
  border-radius: 8px;
  /* color: #FAFAFA; */
  transition: all .6s;
}

.cardNoExtended:hover>p {
  background-color: transparent;
}

.cardNoExtended>img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.cardExtended {
  display: none;
  text-align: left;
}

.card:hover>.cardExtended {
  display: block;
}

.cardExtended>h3 {
  /* padding: 2px 0px; */
  font-size: 16px;
  text-align: center;
  /* background-color: #de523f; */
  border-radius: 8px;
  /* color: #FAFAFA; */
}


.cardExtended>ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0 10px;
}

.cardButton {
  padding: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

/* .cardButton>img {
  width: fit-content;
  height: fit-content;
  transition: all 200ms ease;
}

.cardButton>img:hover {
  transform: scale(1.3);
} */

.arrow {
  rotate: 90deg;
}

/* @media (max-width: 500px){
  .card {
    padding: 15px 15px 15px 70px;
  }
  .card:hover {
    width: 340px;
    padding: 30px 10px 30px 15px;
  }
  .cardNoExtended img {
    height: 140px;
    width: 140px;
  }
} */

