.blogsSubtitulos {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #21273a;
  text-align: center;
  margin: 50px 0;
}
